### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.env
db.sqlite3
media
*.swp
/static/

duplicate_abstracts_uid_list
pep-env
.vscode