Hello {{ abstract.participant.author }}!<br><br><br>

Thank you for submitting your abstract for <b>Paper Presentation 2019</b>. However, we regret to inform you that your abstract titled <b>{{ abstract.title }}</b> in the category <b>{{ abstract.category.name }}</b> has not been selected for the next round. We highly appreciate your interest in research work and wish you the best for all your future endeavours.<br><br>

Do check our <a href="http://www.bits-apogee.org/">website</a> and <a href="https://www.facebook.com/bitsapogee">Facebook page</a> for other competitions. Hope to see you in <b>APOGEE 2019 - The Reality Roulette</b><br><br>

<b>Feedback for abstract</b>:  As an attempt to promote undergraduate research, we have introduced the system of feedback to help you improve and refine your paper and give proper direction to first time participants. PFA the feedback for your abstract as well. <br><br><br>

Regards,<br><br>
<i>Atharva Tandon<br>
Coordinator, Department of Paper Evaluation and Presentation<br>
<a href="https://bits-apogee.org/2019intro/">APOGEE 2019</a> | <a href="http://www.bits-pilani.ac.in/">BITS Pilani</a> | <a href="tel:+91-8209411724">+91-8209411724</a></i>