Congratulations <b>{{ abstract.participant.author }}!</b><br><br><br>

Your abstract titled <b>{{ abstract.title }}</b> in the category <b>{{ abstract.category.name }}</b> has been selected for the next round of <b>Paper Presentation 2019</b>.<br><br>

In this round, you will have to submit your paper by <b>17th February 2019</b>. You would have to upload the paper on the portal. <a href="https://docs.google.com/document/d/1puk2BVFi9Hn_XP7yqnbTs6Ft9rijhyrr_5jKdEPJRw8/edit?usp=sharing">Click here</a> to see the format for the paper. The participants shortlisted after this round will present their paper during <b>APOGEE 2019 - The Reality Roulette</b><br><br>

<b>Feedback for abstract</b>:  As an attempt to promote undergraduate research, we have introduced the system of feedback to help you improve and refine your paper and give proper direction to first time participants. PFA the feedback for your abstract as well.<br><br>

To add value to the competition and help the students get international recognition for their study, we have collaborated with <b>SpringerPublications</b>. The winners from each category will be given access to <b>E-books</b> worth <b>100 euros</b>.<br><br>

Looking forward to your participation.<br><br><br>

Warm regards,<br>

<i>Atharva Tandon<br>
Coordinator, Department of Paper Evaluation and Presentation<br>
<a href="https://bits-apogee.org/2019intro/">APOGEE 2019</a> | <a href="http://www.bits-pilani.ac.in/">BITS Pilani</a> | <a href="tel:+91-8209411724">+91-8209411724</a></i>
