{% extends 'main/paper-presentation/base.html' %} 
{% load staticfiles %}
{% block title %}
  Upload Abstract
{% endblock %}

{% block body %}
<div class="abstract_upload">
	<div id="abstract-upload-card" class="row card-panel">
		<div class="row">
		  	<form class="col s12" id="abstract_submission" method="post" enctype="multipart/form-data" action="{% url 'main:abstract_submission' %}">
		    {% csrf_token %}
		    {{ abstract_form.as_p }}
		    <div class="row">
		      <button class="btn waves-effect waves-light col blue" type="submit" name="action">Upload
		        <i class="material-icons right">arrow_upward</i>
		      </button>
		    </div>
		  </form>
		</div>
	</div>
</div>
{% endblock %}