{% extends 'main/paper-presentation/base.html' %}
{% load staticfiles %}
{% block title %}
Login
{% endblock %}
{% block body %}
<div class="login-form col" style="height: 100%; display: flex; justify-content: center">
    <div id="login_card" class="row card-panel hoverable">
        <form class="col s12" id="login_form" , method="post" action="{% url 'main:user_login' %}">
            {% csrf_token %}
            <h5>Sign In</h5>
            <br>
            {% if login_form_errors %}
            <div class="red-text">
                {{ login_form_errors }}
            </div>
            {% endif %}
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input type="text" name="username" id="username" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <input id="password" type="password" name="password" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light col blue" type="submit" name="action">Login
                    <i class="material-icons right">arrow_forward</i>
                </button>
            </div>
            <div class="row">
                <a class="waves-effect waves-light btn blue" href="{% url 'main:register' %}">Create Account<i class="material-icons right">add</i>
                </a>
            </div>
            <div class="row"></div>
            <a class="waves-effect waves-light btn blue" href="{% url 'main:user_trouble_logging_in' %}">Trouble
                Logging
                in?
            </a>
    </div>
    </form>
</div>
</div>
{% endblock %}