{% extends 'main/paper-presentation/base.html' %}
{% load static %}
{% block title %}
Password Change
{% endblock %}

{% block body %}
<div class="login-form col" style="height: 100%; display: flex; justify-content: center">
  <div id="login_card" class="row card-panel hoverable">
    <form class="col s12" id="login_form" , method="post" action="{% url 'main:user_password_change' %}">
      {% csrf_token %}
      <h5>Password Change</h5>
      <br>
      {% if status %}
      <div class="blue-text">
        {{ status }}
      </div>
      {% endif %}
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input type="email" name="email" id="email" required>
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">lock</i>
          <input id="old_password" type="password" name="old_password" required>
          <label for="old_password">Old Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">lock</i>
          <input id="new_password" type="password" name="new_password" required>
          <label for="new_password">New Password</label>
        </div>
      </div>
      <div class="row" style="display: flex; justify-content: center; margin-top: 20px">
        <button class="btn waves-effect waves-light col blue" type="submit" name="submit">Change Password
          <i class="material-icons right">arrow_forward</i>
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
