<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PEP Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <!-- <script src="main.js"></script> -->
</head>
<body>
    {{ response }}
    <button>
        <a href="{% url 'main:upload_to_drive' 0 %}">
            Upload to Drive
        </a>
    </button>
    <button>
        <a href="{% url 'main:upload_to_drive' 1 %}">
            Flush record and Upload to Drive
        </a>
    </button>
    <button> 
        <a href="{% url 'main:check_duplicate_abstracts' %}">
            Check Duplicates
        </a>
    </button>
</body>
</html>