{% extends 'main/paper-presentation/base.html' %}
{% load static %}
{% block title %}
Password Reset
{% endblock %}

{% block body %}
<div class="login-form col" style="height: 100%; display: flex; justify-content: center">
  <div id="login_card" class="row card-panel hoverable">
    <form class="col s12" id="login_form" , method="post" action="{% url 'main:user_trouble_logging_in' %}">
      {% csrf_token %}
      <h5>Forgot Username/Password</h5>
      <br>
      {% if status %}
      <div class="blue-text">
        {{ status }}
      </div>
      {% endif %}
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input type="email" name="email" id="email" required>
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row" style="display: flex; justify-content: center; margin-top: 20px">
        <button class="btn waves-effect waves-light col blue" type="submit" name="submit">Send Mail
        </button>
      </div>
      <div class="row" style="display: flex; justify-content: center; margin-top: 20px">
          <a href="{% url 'main:user_login' %}">Head back to Login</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}